[user]
	name = Eric Li
	email = eric.li.8736@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = true
[credential]
	helper = "!f() { /home/ericli/.vscode-server/bin/384ff7382de624fb94dbaf6da11977bba1ecd427/node /tmp/vscode-remote-containers-644fe60f-9968-4a0f-aa0d-ca4cfaae2b20.js git-credential-helper $*; }; f"
[safe]
	directory = /home/ericli/repos/Reasoning
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictStyle = zdiff3
