[user]
	name = Eric Li
	email = eric.li.8736@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[credential]
	helper = "!f() { /home/ericli/.vscode-server/bin/384ff7382de624fb94dbaf6da11977bba1ecd427/node /tmp/vscode-remote-containers-644fe60f-9968-4a0f-aa0d-ca4cfaae2b20.js git-credential-helper $*; }; f"
[safe]
	directory = /home/ericli/repos/Reasoning
